@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,200&family=Roboto:ital,wght@0,400;0,500;0,900;1,300;1,400;1,500&display=swap');

:root {
  --text-color: #fafafa;
  --theme-color: #4f3532;
  --header-color: #C8AE7D;
  --font-size-small: 0.9rem;
  --font-size-medium: 1.4rem;
  --font-size-large: 2rem; 
  --font-weight-medium: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.abbrv {
  color: rgb(243, 238, 238);
}

.wbm-logo {
  width: 4rem;
  transition: 1.1s all ease-in-out;
}

i {
  color: rgb(196, 190, 190);
}

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr auto;
  grid-template-areas: 
  "aside header header"
  "aside main main"
  "footer footer footer";
}

/* Main UI */
.app-name {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-large);
}

header {
  grid-area: header;
  grid-column: 2;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding: 1.4rem;
  font-size: 1.2rem;
}

.navbar li,
.navbar a {
  list-style: none;
  text-decoration: none;
  color: var(--text-color);
}

.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-color);
}

aside {
  grid-area: aside;
  grid-column: 1;
  background-color: var(--theme-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  gap: 1rem;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.title-input, .author-input, .pages-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  transform: scale(1.8);
  margin-right: 0.5rem;
}

.error-message {
  color: red;
}

main {
  grid-area: main;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

#book-information {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lib-table {
  border: 1px solid var(--header-color);
  border-radius: 0.3rem;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  font-size: var(--font-size-medium);
  color: black;
  background-color: var(--header-color);
  color: var(--theme-color);
}

td {
  border: 1px solid var(--theme-color);
  text-align: center;
}

.remove-book-btn, .read-status-btn {
  vertical-align: middle;
}

footer {
  grid-area: footer;
  grid-row: 3;
  text-align: center;   
  padding: 1rem;
  background-color: var(--theme-color);
  color: var(--text-color);
  font-size: var(--font-size-small);
}

/* Input styling */
input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--header-color);
  accent-color: green;
  font-size: 1rem;
  color: var(--theme-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

#book-title:focus,
#author-name:focus,
#pages-number:focus {
  box-shadow: 2px 2px 3px 3px var(--header-color);
}

#add-book, #remove-all {
  padding: 1rem;
  cursor: pointer;
  color: var(--theme-color);
  font-weight: 900;
}

.read-status-btn {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1rem;
}

.remove-book-btn {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1rem;
  background-color: red;
  color: white;
}

/* Hover Effects */
#add-book:hover, #remove-all:hover {
  background-color: var(--theme-color);
  color: var(--header-color);
}

ul a:hover {
  color: black;
  text-decoration: underline;
}

img:hover {
  transition: 0.2s all ease-in-out;
  transform: rotate(360deg);
}

#github i {
  transition: 0.2s ease-in-out;
}

#github i:hover {
  transform: scale(1.5);
  transition: 0.2s ease-in-out;
}

/* Media Queries */
@media (max-width: 1300px) {
  .logo-container {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    font-size: 1.1rem;
  }

  .wbm-logo {
    width: 3rem;
  }

  .app-name {
    font-size: 1.2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
    padding: 1rem;
  }

  .read-checkbox {
    display: flex;
    gap: 1rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  input[type="checkbox"] {
    transform: scale(1.5);
  }

  label, span, input {
    font-size: 0.8rem;
  }

  input[type="button"] {
    font-size: 0.6rem;
  }

  #lib-table {
    font-size: 1.1rem;
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis; 
  }
}

@media (max-width: 660px) {
  .navbar {
    position: fixed;
    left: -100%;
    flex-direction: column;
    background-color: var(--theme-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    gap: 1rem;
  }

  .navbar.active {
    left: 0;
  }
  
  header {
    background-color: #4f3532;
  }

  .hamburger {
    position: fixed;
    right: 1rem;
    top: 1rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .wbm-logo {
    width: 2rem;
  }

  .app-name {
    font-size: 1.1rem;
  }

  form {
    gap: 1.7rem;
    padding: 0.4rem;
  }

  label, span, input {
    font-size: 0.6rem;
  }

  input[type="button"] {
    font-size: 0.5rem;
  }

  #lib-table {
    font-size: 0.8rem;
  }

  td {
    font-size: 0.7rem;
  }

  .read-status-btn, .remove-book-btn {
    width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
  }

  footer {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
  }

  #add-book, #remove-all {
    padding: 0.4rem;
    width: 5rem;
  }

  aside {
    gap: 0.8rem;
  }
}